@model blueSky.Areas.Cars.Models.CarIndexViewModel
    
@{
    ViewData["Title"] = "Cars";
}

<form asp-area="Cars" asp-controller="Car" asp-action="Add" method="Post">
    <div>
        <h2>Add Car</h2>
        <div>
            <label>Make</label>
        </div>
        <div class="mb-2">
            <input asp-for="Car.Make">
        </div>
        <div>
            <label>Model</label>
        </div>
        <div class="mb-2">
            <input asp-for="Car.Model">
        </div>
        <div>
            <label>Year</label>
        </div>
        <div class="mb-2">
            <input asp-for="Car.Year">
        </div>
        <div>
            <label>NickName</label>
        </div>
        <div class="mb-2">
            <input asp-for="Car.Nickname">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
<hr/>
<table>
    <h2>Avaible Cars</h2>
    @foreach (var item in Model.GetCars)
    {
        <tr>
            <td>
                <a asp-area="Cars" asp-controller="Car" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(x => item.Nickname)</a>
            </td>
        </tr>
    }
</table>