﻿@model blueSky.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to the BlueSky Maintiance Logger</h1>
    <p></p>
</div>

<div>
    <p>User Sign: TBB</p>
</div>

<div>
    <a asp-area="Cars" asp-controller="Car" asp-action="Index" >Add Car</a>
</div>
<hr/>
<div>
    <table>
        <tr>Available Cars</tr>
@*         @foreach (var item in Model.Cars) *@
@*         { *@
@*             <td><a asp-area="Cars" asp-controller="Car" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor( x => item.Nickname)</a></td> *@
@*         } *@
    </table>
</div>